


<h2>Create new stock message</h2>
<form (ngSubmit)="submitStock()">
    <div class="form-group">
    <label for="name">StockName</label>
    <input type="text"  class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name">
    </div>
   <!--<div class="form-group">
    <label for="body">Body</label>
    <input type="text" class="form-control" id="body"
            required
            [(ngModel)]="model.body" name="body">
    </div> -->
    <button ng-click="submitStock()" type="submit" class="btn btn-large btn-block btn-info">Add stock</button>
</form>

<hr>

<h2>All Stocks</h2>
<ul>
    <li *ngFor="let message of stockList">
    {{ message.name }} 
    </li>
</ul>

<app-stock><app-stock>


