


<h2>Create new stock message</h2> <button class="btn btn-success" (click)="logout()">Logout</button>
<form (ngSubmit)="submitStock()">
    <div class="form-group">
    <label for="name">StockName</label>
    <input type="text"  class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name">
    </div>
   <!--<div class="form-group">
    <label for="body">Body</label>
    <input type="text" class="form-control" id="body"
            required
            [(ngModel)]="model.body" name="body">
    </div> -->
    <button ng-click="submitStock()" type="submit" class="btn btn-large btn-block btn-info">Add stock</button>
</form>

<hr>

    <h2>All Stocks!</h2>

    <div class="row">
    <div class="panel panel-default col-sm-12"  *ngFor="let message of stockList">
 
        <div class="row">
            <div class="col-sm-6">
                <h2 class="li-header"> {{ message.name }} </h2>
            </div>
            <div class="col-sm-2 col-sm-offset-4" style="margin-top:25px">

                <form (ngSubmit)="submitPrice()">
                        <div class="form-group">
                        <label for="stockPrice">stockPrice</label>
                        <input type="text" class="form-control" id="stockPrice"
                                required
                                [(ngModel)]="model.stockPrice" name="stockPrice">
                        </div>
                        <button ng-click="submitStock()" type="submit" class="btn  btn-block btn-info pull-right">Add Price</button>
                </form>
            </div>
        </div>
        <table class="table table-striped">
                <thead>
                        <tr>
                          <th>Price</th>
                          <th>Time</th>
                        </tr>
                </thead>
                <tbody class="panel-body" *ngFor="let stockPrice of message.stockPrice"> 
                        
                        <tr *ngIf="stockPrice?.price">
                            <td>{{stockPrice.price}} $</td>
                            <td>{{stockPrice.data}}</td>
                        </tr>      
                        
                        <tr *ngIf="stockPrice.price?.lenght < 0">
                            <td>Nothing to see here</td></tr>
                </tbody>
        </table>
 
   

    
           
        </div>
    </div>

<app-stock><app-stock>


