<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Welcome to Admin panel</h1>
            <p>You can logout here: </p>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
        <div class="col-sm-6">
            <h2>Add a new share</h2>
            <form (ngSubmit)="submitShare()">
                <div class="form-group">
                    <label for="name">Share Name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" placeholder="Enter Share Name here">
                </div>
                <button ng-click="submitShare()" type="submit" class="btn btn-success">Add Share</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <h1>Share listing:</h1>
    </div>
    <div class="row">
        <div class="panel panel-default col-sm-12" *ngFor="let share of shareList">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="li-header">
                        <b> {{ share.name }} </b>
                    </h2>
                </div>
                <div class="col-sm-3">
                    <button type="submit" name="button" class="btn btn-block btn-primary form-control" (click)="submitRate(share._id)" style="margin-top:24px;">Add Rate</button>
                </div>
                <div class="col-sm-3" style="margin-top:25px">
                    <div *ngIf="newPrice.indexOf(share._id)">
                        <form [formGroup]="priceForm">
                            <input type="text" class="form-control" formControlName="rate" placeholder="Enter rate here">
                        </form>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" name="button" class="btn btn-block btn-danger form-control" (click)="removeShare(share._id)" style="margin-top:24px;">Remove Share</button>
                </div>
            </div>
            <br />
            <hr>
            <div class="table-responsive" style="margin-top: 20px; padding-bottom:15px;">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:40%">Rate</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody class="" *ngFor="let rate of share.shareRate">
                        <tr *ngIf="rate?.rate">
                            <td style="width:40%">{{rate.rate}} $</td>
                            <td>{{rate.date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        </tr>
                        <tr *ngIf="rate.rate?.lenght < 0">
                            <td>Nothing to see here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>