body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin p {
    margin-top: 10px;
  }
 
  .full_width_photo{
    position: relative;
    padding:0;
    margin: 0;
    height:400px;			
    background: url(https://images.pond5.com/stock-exchange-trading-board-blue-footage-000534152_prevstill.jpeg) center center no-repeat;
    background-size: cover;
  }

  .full_width_photo .page-title{
    position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: inherit;
  }

  .full_width_photo .title h4{
    font-family: Raleway;
    display: inline-block;		
      position: relative;
    font-size: 36px;
    color:#fff;
    text-transform: uppercase;
    margin:0;
    padding:30px 0 0 0;
    font-weight:900;
    background-color: #1993B6;
      min-width: 300px;
      padding-right: 10px;
      z-index: 2;
  }

  .title{
    position: relative;
    background: linear-gradient(to right, #1993B6 0%, #1993B6 25%, transparent 25%, transparent 100%);
  }

  .title h4:after {
      background: linear-gradient(to top right, #1993B6 0%, #1993B6 50%, transparent 50%, transparent 100%);
      content: '';
      width: 72px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -72px;
  }

  .cgreen {
    background-color:#5cb85c !important;
  }

  @import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}



/* Header settings */
header {
  height:600px; /* you can change that height to 100%, please get sure youre Header is ready */
  background-attachment:fixed;
  background-size:cover;
  z-index:-1;
  background-position:left;
  background-repeat:no-repeat;
  background-image:linear-gradient(to right, black 0%, white 100%), url('https://static.pexels.com/photos/225600/pexels-photo-225600.jpeg');
  background-blend-mode:screen; /* you can remove that, if you do that delet the "linear-gradient(to right, black 0%, white 100%)," */
}

@media (max-width:767px){
  header {
  background-attachment:inherit;
}
}

header .row
{
    margin-top:40vh; /* Handle the row */
}

@media (max-width:767px){
    header .row
{
    margin-top:30vh; /* Handle the row on mobile */
}
}

header h1
{
    font-family: 'Arbutus', cursive;
    text-align:center;
    font-size:61px;
    color:#F8CA4D;
    text-shadow:0px 0px 4px #222;
}

@media (max-width:767px){
    header h1
{
    font-size:41px;
}
}

header p
{
    text-align:center;
    font-size:21px;
}

header .btn-link
{
    border:1px solid #2F3440;
    margin-top:20px;
    font-size:21px;
    letter-spacing:1px;
    color:#2F3440;
    text-shadow:0px 0px 1px #222;
    box-shadow:0px 0px 1px #000;
}

header .btn-link:hover
{
    text-decoration:none;
    color:#eee;
    border:1px solid #eee;
    transition:all 0.7s;
    text-shadow:0px 0px 3px #000;
}


/* Custom navbar settings */
.navbar-default {
  background-color:#3F5666;
  border-color:#2F3440;
  border-bottom:1px solidÂ #00c9c0;
  border-radius:0px;
}

.navbar-default .navbar-nav > li > a {
  color:#fff;
  letter-spacing:1px;
  font-weight:500;
}

.navbar-default .navbar-brand {
  color:#ffffff;
  letter-spacing:1px;
}

.navbar-default .navbar-brand:hover {
  color:#eee;
  transition:all 0.7s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#eee;
  background-color:#2F3440;
  transition:all 0.7s;
  font-size:21px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#eee;
  background-color:#2F3440;
  transition:all 0.7s;
  font-size:15px;
}
